body {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.overlay__active {
    left: 0;
}

main {
    position: relative;
}

.popap-container {
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    opacity: 0;
    .popap-content {
        background-color: #FFFFFF;
        padding: 30px;
        color: #000000;
        line-height: 35px;
        border-radius: 20px;
        .popap-block {
            position: relative;
            .popap-image {
                width: 100%;
                padding-bottom: 60%;
                border-radius: 20px;
            }
            .checkmark {
                position: absolute;
                bottom: 10%;
                left: 10%;
                width: 40px;
                height: 40px;
            }
            .checkmark__succses {
                background: top 0 left 0 / 100% 100% url(../images/svg/sucsses.svg);
            }
            .checkmark__error {
                background: top 0 left 0 / 100% 100% url(../images/svg/error.svg);
            }
        }
        h4 {
            font-size: 25px;
        }
        p {
            font-size: 20px;
            font-weight: 300;
            text-align: center;
        }
        .button-container {
            display: flex;
            justify-content: center;
            button {
                width: 290px;
                height: 50px;
                border-radius: 60px;
                background-color: #FFBCA2;
                color: black;
                font-size: 25px;
                font-weight: 500;
                cursor: pointer;
                transition: 0.2s;
            }
    
            button:hover {
                border: 1.5px solid rgb(179, 1, 1);
                color: rgb(179, 1, 1);
                -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
                -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
                box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
            }
        }
    }
}

.popap-container__active {
    left: 50%;
}