body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wrapper-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 150px;
}

header {
    padding: 10px 30px;
    box-sizing: border-box;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    width: 100%;
    column-gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rs-link {
    width: 120px;
    height: 40px;
    background: top 0 left 0 / 100% 100% url(../src/images/rs_school_js.svg);
    transition: 0.3s;
}

.rs-link:hover {
    transform: scale(1.05);
}

.webdev {
    opacity: 0.6;
}

.github-link {
    width: 40px;
    height: 40px;
    background: top 0 left 0 / 100% 100% url(../src/images/github.svg);
    transition: 0.3s;
}

.github-link:hover {
    transform: scale(1.1);
}

.webdev span {
    margin-left: 20px;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
