@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Fonts*/
@font-face {
  font-family: 'Roboto Regular';
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url(../assets/fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Forum Regular';
  src: url(../assets/fonts/Forum-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*------------------------------------------------------*/
/***Variables*/
/***Variables End*/
body ._lock {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/*Header*/
header {
  height: 150px;
  background: #030303;
}

.header-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}

.header-wrapper-container {
  width: calc(100% - 480px);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-logo {
  width: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-logo .logo-image {
  width: 50px;
  height: 34px;
}

.container-logo .logo-image img {
  width: 100%;
  height: auto;
}

.container-logo .logo-title {
  font-family: "Forum Regular";
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
}

.container-nav {
  width: 770px;
}

.container-nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-nav .navigation .navigation-item {
  font-family: 'Roboto Thin';
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  cursor: pointer;
}

.container-nav .navigation .navigation-item a {
  color: #FFFFFF;
}

.container-nav .navigation .navigation-item a:hover {
  color: #9D8665;
}

.container-nav .navigation .navigation-item a:active {
  color: #9D8665;
}

.menu-burger {
  display: none;
}

.welcom-louvre {
  background: #030303;
}

.louvre-slider-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: 15;
  height: auto;
}

.louvre-slider {
  position: relative;
  width: calc(100% - 480px);
  margin: 0 auto;
  height: auto;
  z-index: 1;
  right: 0;
}

.slider-wrap {
  position: absolute;
  width: calc(100% - 440px);
  right: 0;
  top: -1px;
  height: auto;
  overflow-x: clip;
  z-index: 1;
}

.slider-wrap-wrap {
  position: relative;
  width: calc(100% * 5);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-20%, 0);
          transform: translate(-20%, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.slider-wrap-wrap .louvre-image {
  position: relative;
  width: 100%;
  height: auto;
}

.slider-wrap-wrap .louvre-image img {
  width: 100%;
  height: auto;
}

.slider-wrap-wrap .louvre-image .background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: -60px;
  width: 600px;
  height: 120px;
  background: #030303;
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control .control-number {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.control .control-tab {
  width: 200px;
  margin: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control .control-tab .control-tab-item {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  cursor: pointer;
}

.control .control-tab .active {
  background: #D2B183;
}

.control .control-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control .control-arrow .arrow {
  width: 30.27px;
  height: auto;
  cursor: pointer;
}

.control .control-arrow .arrow img {
  width: 100%;
  height: auto;
}

.control .control-arrow .arrow:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper .wrapper-container {
  position: relative;
  overflow: hidden;
  width: calc(100% - 480px);
  margin: 0 auto;
}

.wrapper .wrapper-container .louvre-container {
  position: relative;
  width: 598px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 114px 0 306px 0;
  z-index: 15;
}

.wrapper .wrapper-container .louvre-container .louvre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Forum Regular';
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.wrapper .wrapper-container .louvre-container .louvre-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Light';
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 26px 0 76px 0;
}

.wrapper .wrapper-container .louvre-container a .louvre-button {
  width: 360px;
  height: 75px;
  font-family: 'Roboto Thin';
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: #710707;
  border-radius: 10px;
}

.wrapper .wrapper-container .louvre-container a .louvre-button:hover {
  background: #9D8665;
}

/*Virtual Tour*/
.virtual-tour {
  background: #FFFFFF;
}

.title-tour {
  padding: 75px 0 25px 0;
}

.title-tour h2 {
  font-family: "Forum Regular";
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.title-line {
  border-bottom: 3px solid #710707;
}

.virtual-tour-contaner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 440px))[3];
      grid-template-columns: repeat(3, minmax(200px, 440px));
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 78px;
  padding: 75px 0;
}

.virtual-tour-contaner .card-container a .card-container__image {
  max-width: 100%;
  padding-bottom: 25px;
}

.virtual-tour-contaner .card-container a .card-container__image img {
  width: 100%;
  height: auto;
}

.virtual-tour-contaner .card-container a .card-container__title {
  font-family: "Forum Regular";
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 9px;
}

.virtual-tour-contaner .card-container a .card-container__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  border-bottom: 2px solid #710707;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.virtual-tour-contaner .card-container a .card-container__subtitle {
  font-family: "Roboto Thin";
  color: #000000;
}

.virtual-tour-contaner .card-container a .card-container__subtitle p:first-child {
  font-size: 22px;
  line-height: 26px;
  padding: 10px 0;
}

.virtual-tour-contaner .card-container a .card-container__subtitle p:last-child {
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.virtual-tour-contaner .card-container a .card-container__subtitle:nth-child(2) {
  padding-bottom: 0;
}

.virtual-tour-contaner .card-container:hover .card-container__line {
  max-width: 100%;
}

/*Picture Explore*/
.picture-explore {
  background: #030303;
}

.explore-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45.75% 50%;
      grid-template-columns: 45.75% 50%;
  padding: 75px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore-main .explore-main__title {
  padding-bottom: 25px;
}

.explore-main .explore-main__title h2 {
  font-family: "Forum Regular";
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.explore-main .explore-main__line {
  border-top: #710707 solid 3px;
  padding-bottom: 75px;
}

.explore-main .explore-main__subtitle {
  font-family: "Roboto Light";
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.explore-main .explore-main__subtitle p {
  padding-bottom: 25px;
}

.explore-main .explore-main__subtitle p span {
  color: #9D8665;
}

.explore-main .explore-main__subtitle p:last-child {
  padding-bottom: 0;
}

.explore-image {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 15px;
}

.explore-image .before {
  position: absolute;
  background: url(/museum/assets/images/jpg/Explore/before.jpg);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.explore-image .before .after {
  position: absolute;
  background: url(/museum/assets/images/jpg/Explore/after.jpg);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.explore-image .before .after::before, .explore-image .before .after::after {
  content: '';
  position: absolute;
  right: -2px;
  width: 4px;
  height: calc(50% - 25px);
  background: white;
  z-index: 3;
}

.explore-image .before .after::before {
  top: 0;
  -webkit-box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
}

.explore-image .before .after::after {
  bottom: 0;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
}

.explore-image img {
  width: 100%;
  height: auto;
}

/*-----------------------------------------------*/
/*****MEDIA*****/
@media (max-width: 1500px) {
  .header-wrapper-container {
    width: calc(100% - 40px);
  }
  .louvre-slider {
    width: calc(100% - 40px);
  }
  .wrapper .wrapper-container {
    width: calc(100% - 40px);
  }
  .wrapper .wrapper-container .louvre-container {
    padding: 114px 0 317px 0;
  }
}

@media (max-width: 1024px) {
  header {
    height: 130px;
  }
  header::before {
    position: absolute;
    z-index: 4;
  }
  .header-wrapper {
    max-width: 1024px;
  }
  .header-wrapper-container {
    width: calc(100% - 40px);
  }
  .header-container {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .louvre-slider {
    width: calc(100% - 40px);
  }
  .container-logo {
    position: relative;
    z-index: 20;
  }
  .container-nav {
    position: fixed;
    top: 0;
    left: -440px;
    max-width: 440px;
    height: 550px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-top: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    z-index: 16;
    overflow: auto;
  }
  .container-nav .navigation {
    display: block;
  }
  .container-nav .navigation .navigation-item {
    margin: 10px 0 10px 90px;
    font-size: 20px;
    line-height: 40px;
  }
  .container-nav_active {
    left: 0;
  }
  .slider_active {
    position: relative;
    z-index: 17;
  }
  .slider-wrap {
    position: absolute;
    width: calc(100% - 284px);
    right: 0;
    top: -1px;
    height: auto;
    overflow-x: clip;
    z-index: 1;
  }
  .slider-wrap_active {
    position: absolute;
    width: 59.349%;
    right: 0;
    top: 0;
    height: auto;
    overflow-x: clip;
    z-index: 1;
  }
  .slider-wrap-wrap .louvre-image .background-image-burger {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(196, 196, 196, 0.2);
  }
  .menu-burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #EBEBEB;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: '';
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu-burger_active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .menu-burger_active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .menu-burger_active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .control {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 700px;
    padding-right: 75px;
  }
  .control .control-number {
    width: 70px;
    font-size: 20px;
  }
  .control .control-tab {
    width: 160px;
  }
  .control .control-tab .control-tab-item {
    width: 12px;
    height: 12px;
  }
  .wrapper .wrapper-container {
    width: calc(100% - 40px);
  }
  .wrapper .wrapper-container .louvre-container {
    width: 405px;
    padding: 50px 0 192px 0;
  }
  .wrapper .wrapper-container .louvre-container .louvre-title {
    font-size: 50px;
  }
  .wrapper .wrapper-container .louvre-container .louvre-subtitle {
    font-size: 24px;
    line-height: 28.13px;
    padding: 25px 0 50px 0;
  }
  .wrapper .wrapper-container .louvre-container a .louvre-button {
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 23.44px;
  }
  .title-tour {
    padding: 60px 0 22px 0;
  }
  .title-tour h2 {
    font-size: 50px;
    line-height: 75px;
  }
  .virtual-tour-contaner {
    -ms-grid-columns: (minmax(100px, 330px))[2];
        grid-template-columns: repeat(2, minmax(100px, 330px));
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -webkit-column-gap: 108px;
            column-gap: 108px;
    row-gap: 60px;
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .virtual-tour-contaner .card-container a .card-container__image {
    padding-bottom: 24px;
  }
  .virtual-tour-contaner .card-container a .card-container__title {
    font-size: 28px;
    line-height: 30.91px;
    padding-bottom: 8px;
  }
  .virtual-tour-contaner .card-container a .card-container__line {
    max-width: 150px;
    border-bottom: 2px solid #710707;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle {
    font-family: "Roboto Thin";
    color: #000000;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle p:first-child {
    font-size: 20px;
    line-height: 23.44px;
    padding: 10px 0;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle p:last-child {
    padding: 0;
    font-size: 16px;
    line-height: 18.75px;
  }
}

@media (max-width: 768px) {
  .welcom-louvre {
    display: -ms-grid;
    display: grid;
    max-width: 768px;
    height: auto;
    -ms-grid-columns: minmax(300px, 768px);
        grid-template-columns: minmax(300px, 768px);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: 'louvre-container' 'slider';
  }
  .louvre-slider-wrapper {
    height: auto;
    padding: 0 20px;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: slider;
  }
  .louvre-slider {
    width: 100%;
    height: auto;
  }
  .slider-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .slider-wrap-wrap .louvre-image .background-image {
    display: none;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: louvre-container;
    padding: 0 20px;
  }
  .wrapper .wrapper-container {
    width: auto;
  }
  .wrapper .wrapper-container .louvre-container {
    padding: 0 0 50px 0;
  }
  .wrapper .wrapper-container .louvre-container .louvre-title {
    width: 332px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
  }
  .wrapper .wrapper-container .louvre-container .louvre-subtitle {
    font-size: 20px;
    line-height: 23.44px;
    width: 332px;
    padding: 0;
    padding-top: 25px;
    margin: 0 auto;
  }
  .wrapper .wrapper-container .louvre-container a .louvre-button {
    display: none;
  }
  .control {
    position: relative;
    width: 400px;
    height: 40px;
    padding-right: 0;
    margin: 30px auto;
    bottom: 0;
  }
  .virtual-tour .wrapper .wrapper-container {
    width: 100%;
  }
  .title-tour {
    width: 100%;
    padding: 40px 0 22px 0;
  }
  .title-tour h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .virtual-tour-contaner {
    -ms-grid-columns: (minmax(100px, 280px))[2];
        grid-template-columns: repeat(2, minmax(100px, 280px));
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -webkit-column-gap: 56px;
            column-gap: 56px;
    row-gap: 40px;
    padding: 40px 0 80px 0;
  }
  .virtual-tour-contaner .card-container a .card-container__image {
    padding-bottom: 24px;
  }
  .virtual-tour-contaner .card-container a .card-container__title {
    font-size: 22px;
    line-height: 24.9px;
    padding-bottom: 7px;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle p:first-child {
    font-size: 18px;
    line-height: 21.09px;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle p:last-child {
    font-size: 16px;
    line-height: 18.75px;
  }
}

@media (max-width: 420px) {
  header {
    height: 90px;
  }
  .container-logo {
    width: 152px;
  }
  .container-logo .logo-title h1 {
    font-size: 16px;
    line-height: 18px;
  }
  .wrapper .wrapper-container .louvre-container {
    width: 100%;
  }
  .wrapper .wrapper-container .louvre-container .louvre-title {
    width: 252px;
    font-size: 28px;
    line-height: 40px;
  }
  .wrapper .wrapper-container .louvre-container .louvre-subtitle {
    width: 278px;
    font-size: 16px;
    line-height: 18.75px;
  }
  .control {
    width: 236px;
  }
  .control .control-number {
    width: 56px;
    font-size: 16px;
  }
  .control .control-tab {
    width: 79px;
    margin: 0 23px;
  }
  .control .control-tab .control-tab-item {
    width: 7px;
    height: 7px;
  }
  .control .control-arrow {
    width: 55px;
  }
  .control .control-arrow .arrow {
    width: 20px;
  }
  .virtual-tour .wrapper .wrapper-container {
    width: 100%;
  }
  .title-tour {
    width: 100%;
    padding: 40px 0 22px 0;
  }
  .title-tour h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .virtual-tour-contaner {
    -ms-grid-columns: (minmax(100px, 280px))[1];
        grid-template-columns: repeat(1, minmax(100px, 280px));
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
    -webkit-column-gap: 50px;
            column-gap: 50px;
    row-gap: 45px;
    padding: 40px 0 40px 0;
  }
  .virtual-tour-contaner .card-container a .card-container__image {
    padding-bottom: 24px;
  }
  .virtual-tour-contaner .card-container a .card-container__title {
    font-size: 18px;
    line-height: 19.87px;
    padding-bottom: 7px;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle p:first-child {
    font-size: 16px;
    line-height: 18.75px;
  }
  .virtual-tour-contaner .card-container a .card-container__subtitle p:last-child {
    font-size: 16px;
    line-height: 18.75px;
  }
}
/*# sourceMappingURL=style.css.map */